@model ItechArt.Survey.WebApp.Models.CounterVm

<div class="text-center">
    <form action="/Home/IncrementCounter" method="post">
        <button class='clickButton' >Click to increment</button>
        @Model.Counter
    </form>
</div>
