@model ItechArt.Survey.DomainModel.Models.IncrementCounter

<div>
    <form action="@Url.Action("IncrementCounter")" method="post">
        <input type="submit" value="Click to increment"/>
        @Model.Counter
    </form>
</div>
