@model ItechArt.Survey.DomainModel.Models.IncrementCounter

<div>
    <form action="@Url.Action("IncrementCounter")" method="post">
        <button type="submit">Click to increment</button>
        @Model.Counter
    </form>
</div>
