<div class="text-center m-5">
    <h1 class="display-6">Create your own survey!</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
          <span class="display-6">Survey options</span>
        </tr>
        </thead>
        <tbody>
        <div>
          <div class="form-check m-2">
            <input class="form-check-input" type="radio" name="exampleRadios8" id="exampleRadios7" value="option7" checked>
            <label class="form-check-label" for="exampleRadios7">
              Anonymous
            </label>
          </div>
          <div class="form-check m-2">
            <input class="form-check-input" type="radio" name="exampleRadios8" id="exampleRadios8" value="option2">
            <label class="form-check-label" for="exampleRadios8">
              Public
            </label>
          </div>
        </div>
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <form asp-antiforgery="true" asp-action="CreatingASurvey" asp-controller="Survey">
        <div class="mb-2">
          <div class="form-group mb-5">
            <label for="InputSurveyTitle">Survey title: </label>
            <input class="form-control mb-2 mt-2" id="InputSurveyTitle" placeholder="Enter title">
          </div>
          <div class="form-group mb-2">
            <div>
              <label for="QuestionWithOneVariantAnswer1">Question title: </label>
              <input class="form-control mb-2 mt-2" id="QuestionWithOneVariantAnswer1" placeholder="Enter title">
            </div>
            <div>
              <div class="form-check m-2">
                <label class="form-check-label" for="Answer2">
                   <input class="form-check-input" type="radio" name="exampleRadios8" id="Answer2" value="option">
                  <input class="form-control mb-2 mt-2" id="" placeholder="Enter title">
                </label>
              </div>
              <div class="form-check m-2">
                <label class="form-check-label" for="Answer3">
                  <input class="form-check-input" type="radio" name="exampleRadios8" id="Answer3" value="option">
                  <input class="form-control mb-2 mt-2" id="" placeholder="Enter title">
                </label>
              </div>
              <div class="form-check m-2">
                <label class="form-check-label" for="Answer4">
                  <input class="form-check-input" type="radio" name="exampleRadios8" id="Answer4" value="option">
                  <input class="form-control mb-2 mt-2" id="" placeholder="Enter title">
                </label>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Add Survey</button>
      </form>
    </div>
    <div class="col">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr><span class="display-6">Survey type</span></tr>
        </thead>
        <tbody>
        <div>
          <div class="form-check m-2">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              Answer variant (one)
            </label>
          </div>
          <div class="form-check m-2">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Answer variant (some)
            </label>
          </div>
          <div class="form-check m-2">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
            <label class="form-check-label" for="exampleRadios3">
              Text
            </label>
          </div>
          <div class="form-check m-2">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option4">
            <label class="form-check-label" for="exampleRadios4">
              Faile
            </label>
          </div>
          <div class="form-check m-2">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option5">
            <label class="form-check-label" for="exampleRadios5">
              Star rating
            </label>
          </div>
          <div class="form-check m-2">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios6" value="option6">
            <label class="form-check-label" for="exampleRadios6">
              Scale
            </label>
          </div>
        </div>
        </tbody>
      </table>
    </div>
  </div>
</div>


