@model ItechArt.Survey.WebApp.ViewModels.CounterViewModel

<div>
    <form action="@Url.Action("IncrementCounter")" method="post">
        <input type="submit" value="Click to increment"/>
        @Model.Value
    </form>
    <form action="@Url.Action("ThrowException")" method="post">
        <input type="submit" value="Click to throw an exception"/>
        @Model.Exception
    </form>
</div>