<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a site where you can take a survey and create your own.</p>
    <a asp-action="DisplayAllSurveys" asp-controller="Survey" class="m-5">
        <button type="button" class="btn btn-primary">Surveys</button>
    </a>
</div>