@model ItechArt.Survey.WebApp.ViewModels.CounterViewModel

<div>
    <form action="@Url.Action("IncrementCounter")" method="get">
        <input type="submit" value="Click to increment"/>
        @Model.Value
    </form>
</div>