<!DOCTYPE html>

<html>
<head>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    @await RenderSectionAsync("Style", false)
    @await RenderSectionAsync("Script", false)
</head>
<body>
<form action="">
    <p>
        <input type="button" value=" Нажми меня нежно ">
    </p>
</form>
<div>
    @RenderBody()
</div>
</body>
</html>