<!DOCTYPE html>

<html>
<head>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Style", false)
    @await RenderSectionAsync("Script", false)
</head>
<body>
<div>
    <a href="/Account/Profile"><span>My Profile</span></a>
</div>
<div>
    <form action="/Account/LogOut" method="get">
        <p>
            <input type="submit" value="Log out">
        </p>
    </form>
</div>
<div>
    @RenderBody()
</div>
</body>
</html>