@model ItechArt.Survey.WebApp.ViewModels.RegistrationViewModel

<form asp-antiforgery="true" asp-action="Registration" asp-controller="Account">
  <div class="container">
      <h1>Register</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
      <div>
          <label asp-for="UserName"></label><br/>
          <input type="text" asp-for="UserName" placeholder="Enter user name" value=""/>
          <span asp-validation-for="UserName"></span>
      </div>
      <div>
          <label asp-for="Email"></label><br/>
          <input asp-for="Email" placeholder="Enter Email" value=""/>
          <span asp-validation-for="Email"></span>
      </div>
      <div>
          <label asp-for="Password"></label><br/>
          <input asp-for="Password" type="password" placeholder="Enter Password"/>
          <span asp-validation-for="Password"></span>
      </div>
      <div>
          <label asp-for="RepeatPassword"></label><br/>
          <input asp-for="RepeatPassword" type="password" placeholder="Repeat Password"/>
          <span asp-validation-for="RepeatPassword"></span>
      </div>
    <input type="submit" value="Register"/>
     @ViewData["Error"]
  </div>
</form>

@section Script {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}