<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - ItechArt.Survey.WebApp</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("Style", false)
    @RenderSection("Script", false)
</head>
<body>
@RenderBody()
</body>
</html>
