<form method="get" action="@Url.Action("clickButtonFunction")">
    <div class="text-center">
        <button class='clickButton'>Click to increment</button>
        <input value="@ViewData["clickCounter"]" name="clickCounter" />
    </div>
</form>
