@section Script
{
     <script src="~/js/ClickCounter.js"></script>  
}

<div class="text-center">
    <button class='clickButton' onclick="clickButtonFunction()">Click to increment</button>
    <div id='clickCounter'></div>
    <button class='clickButton' onclick="clickReset()">Reset count</button>
</div>
